/* 
IMPORTANTE: USAR UN SOLO DIV Y NO USAR CLIP-PATH
Colors:
  Background: #6592CF
  Shape:#243D83
*/
.bg {
  width: 400px;
  height: 300px;
  background-color: #6592cf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg__content {
  background-color: #243D83;
  width: 6rem;
  height: 250px;
  position: relative;
}

.bg__content:before,
.bg__content:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 3rem solid;
  border-color: #6592cf transparent transparent transparent;
}
.bg__content:after {
  bottom: 0;
  border-color: transparent transparent  #6592cf transparent;
}
